MONGO_URL="mongodb://COSMOS_ACCOUNT:COSMOS_KEY@COSMOS_ACCOUNT.mongo.cosmos.azure.com:10255/?tls=true&retryWrites=false"
DB_NAME="kridangan"
ADMIN_USERNAME="replace-in-key-vault"
ADMIN_PASSWORD="replace-in-key-vault"
ADMIN_JWT_SECRET="replace-with-64-character-random-secret"
CORS_ORIGINS="http://localhost:8000"
UPLOAD_DIR="/mnt/private-uploads"
APP_TZ="Asia/Kolkata"
PORT="8000"